%h2 Change your password
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.hidden_field :reset_password_token
  .row
    .span8
      = f.label :password
    .span3
      = f.password_field :password
    .span4
      = f.full_error :password
  .row
    .span8
      = f.label :password_confirmation
    .span3
      = f.password_field :password_confirmation
    .span4
      = f.full_error :password_confirmation
  %div
    = f.submit "Change my password"
= render "devise/shared/links"
