%h2 Forgot your password?
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  .row
    .span8
      = f.label :email
    .span3
      = f.email_field :email, :autofocus => true
    .span4
      = f.full_error :email
  %div= f.submit "Send me reset password instructions"

.edit_links
  = render "devise/shared/links"
