= simple_form_for(@hotel, :html => { :multipart => true}) do |f|
  - if @hotel.errors.any?
    #error_explanation
      %h2
        = pluralize(@hotel.errors.count, "error")
        prohibited this hotel from being saved:
      %ul
        - @hotel.errors.full_messages.each do |msg|
          %li= msg

  = f.label :title
  = f.text_field :title, error_html: { id: 'title_error'}
  = f.label :breakfast_included
  = f.check_box :breakfast_included
  = f.label :room_description
  = f.text_area :room_description, error_html: { id: 'room_description_error'}
  = f.label :image
  = f.file_field :image
  = f.label :price_for_room
  = f.number_field :price_for_room
  = f.simple_fields_for :addresses do |a|
    = a.label :country
    = a.text_field :country
    = a.label :state
    = a.text_field :state
    = a.label :city
    = a.text_field :city
    = a.label :street
    = a.text_field :street

  #addresses
    %h5 Add address
    = render partial: "address_preview", collection: @hotel.addresses, as: :address


  = f.submit