= simple_form_for(@hotel, :html => { :multipart => true}) do |f|
  - if @hotel.errors.any?
    #error_explanation
      %h2
        = pluralize(@hotel.errors.count, "error")
        prohibited this hotel from being saved:
      %ul
        - @hotel.errors.full_messages.each do |msg|
          %li= msg

  = f.label :title
  = f.text_field :title
  = f.label :breakfast_included
  = f.check_box :breakfast_included
  = f.label :room_description
  = f.text_area :room_description
  = f.label :image
  = f.file_field :image
  = f.label :price_for_room
  = f.number_field :price_for_room

  %p
    = f.simple_fields_for :addresses do |builder|
      = render 'address', f: builder

  = f.submit