<h1>Listing hotels</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Breakfast included</th>
      <th>Room description</th>
      <th>Photo</th>
      <th>Price for room</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.title %></td>
        <td><%= hotel.breakfast_included %></td>
        <td><%= hotel.room_description %></td>
        <td><%= hotel.photo %></td>
        <td><%= hotel.price_for_room %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotel', new_hotel_path %>
