<p id="notice"><%= notice %></p>

<p class="title">
  <%= @hotel.title %>
</p>

<img class="item_img span7" src="<%= @hotel.image %>">

<div class="base_info span3">
  <p>
    <strong>Breakfast included:</strong>
    <%= @hotel.breakfast_included %>
  </p>

  <p>
    <strong>Price for room:</strong>
    <%= @hotel.price_for_room %>
  </p>

  <div id="addresses">
    <h4>Addresses</h4>
    <%= render partial: "address", collection: @hotel.addresses, as: :address %>
  </div>
</div>


<div class="description span4">
  <p>
    <strong>Room description:</strong>
    <%= @hotel.room_description %>
  </p>
</div>

<br/>
<br/>

<div class="buttons">
    <a class="btn" href="/hotels/<%= @hotel.id %>/edit ">Edit</a>
    <a class="btn" href="/">Back</a>
</div>

<hr size="1" width="100%" color="#ddd" align="center">

<h2>Comments</h2>
<div id="comments">
  <%= render partial: "comment", collection: @hotel.comments, as: :comment %>
</div>

<% if user_signed_in? %>
    <%= form_for [@hotel, Comment.new] do |f| %>

        <div class="field">
          <%= f.label :body, "New comment" %><br>
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit "Add comment" %>
        </div>
    <% end %>
<% else %>
    <p>Please sign in or sign up to be able leave comments here</p>
<% end %>

