%a.btn.btn-primary.span7{:href => "/hotels/new"} New Hotel
%br/
- @hotels.each do |hotel|
  .hotel_item.span4
    %a{:href => "/hotels/#{hotel.id}"}
      %img.main_img{:src => hotel.image}/
    .inner_info
      .hotel_inner_left
        %p.title
          %a{:href => "/hotels/#{hotel.id}"}
            = hotel.title
      .hotel_inner_right
        %p.price
          Price: $#{hotel.price_for_room}
      %p.breakfast
        - if hotel.breakfast_included?
          =image_tag asset_path('breakfast.png'), :size => '16x16'
        |
      %hr{:align => "center", :color => "#ddd", :size => "1", :width => "100%"}/
      %p.manipulate_hotel
        = link_to 'Edit', edit_hotel_path(hotel)
        |
      %p.manipulate_hotel= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' }

