!!!
%html
  %head
    %title HotelAdvisor
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      .header_board
        %a.mainpage{:href => "/"} Hotel adviser
        #user_nav
          = link_to 'All hotels', hotels_path, class: "hotels_link"
          |
          = link_to 'My hotels', my_hotels_path, class: "hotels_link"
          |
          - if user_signed_in?
            %strong= current_user.username
            = link_to 'Edit profile', edit_user_registration_path
            = link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign up', new_user_registration_path
            = link_to 'Sign in', new_user_session_path



    .board
      = yield
    %footer



      .footer_board
        %hr.footer_line{:align => "center", :color => "#f8c000", :size => "1", :width => "100%"}/
        %p
          HotelAdviser 2014
