!!!
%html
  %head
    %title HotelAdvisor
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      = content_tag :div, value, class: "flash #{key}"
    %header
      .board
        %a.mainpage{:href => "/"} Hotel adviser
        #user_nav
          - if user_signed_in?
            Logged in as
            %strong= current_user.username
            = link_to 'Edit profile', edit_user_registration_path
            = link_to 'Logout', destroy_user_session_path, method: :delete
          - else
            = link_to 'Sign up', new_user_registration_path
            = link_to 'Login', new_user_session_path
    .board
      = yield
    %footer
      .board
        %hr{:align => "center", :color => "#ddd", :size => "1", :width => "100%"}/
        %p HotelAdviser 2014
